// flex 居中布局
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

//绝对定位居中
.p-relative{
  position: relative;
}

.transform-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.text-center{
  text-align: center;
}

.margin-auto{
  margin:0 auto;
}
